.DS_Store
__pycache__

# Secrets
.env
*.env.local
.pytest_cache
.ruff_cache
*.pyc
.hound_cache
.hound_debug
graph_results
config.yaml
htmlcov/
chatbot/.active_project 

*.egg-info/
*.egg

# Poetry
poetry.lock

# IDE
.vscode/
.venv
